.tx-fpcontactlist {
}

/**
table {
  max-width: 75%;
  margin-bottom: 1rem;
  color: #212529;
  margin: auto;
  margin-top: 10vh;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
h1{
  text-align: center;
  padding-top: 10rem;
}*/